:local(.wlop) {
    /*min-height: 100%;*/
}
:local(.title){
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
:local(.content){

}
:local(.contentT){
    font-size: 30px;
    line-height: 54px;
    border-bottom: 1px solid #3B3D40;
}
:local(.contentC){
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    color: #989898;
    display: block;
}
:local(.button){
    margin-top: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}


