:local(.wrap){
    display: flex;

}
:local(.headerBox){

}
:local(.wlop) {
    height: 100%;
}
:local(.wlop) .ant-layout{
    height: 100%!important;
}

:local(.header){
    height: 64px;
    width: 100%;
}



